<app-nav-bar></app-nav-bar>
<main>
  <section class="grid grid-cols-1 relative">
    <img class="col-start-1 col-end-2 row-start-1 row-end-2" src="../assets/home/mobile/image-header.jpg" alt="">
    <div
      class="col-start-1 col-end-2 row-start-1 row-end-2 flex flex-col justify-center items-center gap-5 text-center text-white">
      <p class="over-line opacity-50">New Product</p>
      <h1>XX99 mark II headphones</h1>
      <p class="opacity-50">Experience natural, lifelike audio and exceptional build quality made for the passionate
        music enthusiast.
      </p>
      <button class="button-primary"><a href="#">See Product</a></button>
    </div>
  </section>

  <section class="p-5">
    <app-category class="grid gap-5"></app-category>
  </section>

  <section class="p-5">
    <div class="bg-brown rounded-lg p-5 text-center">
      <img class="w-40 mx-auto" src="../assets/home/mobile/image-speaker-zx9.png" alt="image of speaker zx9">
      <h3 class="my-5 text-balance">zx9 speaker</h3>
      <p>Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
      <button class="button-secondary-black"><a href="#">See Product</a></button>
    </div>

    <div class="bg-[url('../assets/home/mobile/image-speaker-zx7.jpg')] bg-cover bg-center bg-no-repeat">
      <h3>zx7 speaker</h3>
    </div>
  </section>
</main>

<router-outlet />