/* npx tailwindcss -i ./src/styles.css -o ./src/output.css --watch */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    line-height: 110%;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }

  body {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
  section {
    @apply p-6 py-10 md:p-10 lg:p-20;
  }

  .background {
    position: relative;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      background: rgb(254, 255, 255);
      background: linear-gradient(
        138deg,
        rgba(254, 255, 255, 1) 0%,
        rgba(211, 228, 249, 1) 39%
      );
      @apply rounded-b-3xl inset-0 bottom-[20%] lg:bottom-[0] lg:right-[30%];
    }
  }
  input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Use a custom style for the outer circle */
    border: 2px solid red; /* Change border color */
    border-radius: 50%; /* Make it circular */
    width: 25px; /* Adjust size as needed */
    aspect-ratio: 1/1; /* Keep it square */
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
    outline: none;
    @apply border-borders;
    &:checked {
      @apply bg-blue bg-opacity-30 border-none;
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%; /* Adjust size as needed */
      aspect-ratio: 1/1; /* Keep it square */
      border-radius: 50%; /* Make it circular */
      opacity: 0; /* Initially hidden */
      @apply bg-blue;
    }
  }

  input[type="number"] {
    position: relative;
    width: 100%;
    font-size: 24px;
    appearance: textfield; /* Safari */
    -moz-appearance: textfield; /* Firefox */
    @apply outline-none border border-borders rounded-lg placeholder:text-borders p-2 font-bold text-dark-blue;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      @apply border-blue;
    }
    &::before {
      content: "cm";
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      color: #a0aec0;
    }
  }
}

@layer components {
  .text-small {
    font-size: 14px;
  }
  .text-regular {
    font-size: 16px;
  }
  .description {
    font-size: 16px;
    @apply text-dark-electric-blue;
  }
  .radio-container {
    @apply flex justify-center items-center gap-5 w-fit;
  }
  .input-container {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      z-index: 10;
      @apply text-blue;
    }
    &.height-metric::before {
      content: "cm";
    }
    &.height-imperial-ft::before {
      content: "ft";
    }
    &.height-imperial-in::before {
      content: "in";
    }
    &.weight-metric::before {
      content: "kg";
    }
    &.weight-imperial-st::before {
      content: "st";
    }
    &.weight-imperial-lbs::before {
      content: "lbs";
    }
  }
  .show-bmi {
    @apply bg-blue col-span-2 p-4 text-white rounded-xl;
  }
  .shadow-container {
    --color: rgba(143, 174, 207, 0.25);
    background-color: white;
    box-shadow: 16px 32px 56px 3px var(--color);
  }
}
