<div class="grid lg:hidden md:grid-cols-2 gap-9">
  @for (lim of bmiLimitation; track $index) {
  @if($index != bmiLimitation.length - 1){
  <article class="shadow-container rounded-2xl p-5">
    <div class="flex items-center justify-start gap-5 mb-5">
      <img src="{{lim.img}}" alt="{{lim.title}}">
      <h4>{{lim.title}}</h4>
    </div>
    <p class="text-justify description">{{lim.description}}</p>
  </article>
  }@else{
  <article class="shadow-container rounded-2xl p-5 md:col-span-2 max-w-[500px] mx-auto">
    <div class="flex items-center justify-start gap-5 mb-5">
      <img src="{{lim.img}}" alt="{{lim.title}}">
      <h4>{{lim.title}}</h4>
    </div>
    <p class="text-justify description">{{lim.description}}</p>
  </article>
  }
  }
</div>