<main>
  <section id="BMI-Calculator">
    <img src="../assets/logo.svg" alt="Web Site Circle Logo" id="logo" class="mx-auto">

    <h1 class="text-center">Body Mass Index Calculator</h1>
    <p class="my-10 text-center text-dark-electric-blue">Better understand your weight in relation to your height using our
      body mass index (BM)
      calculator. While BMI is
      not the sole determinant of a healthy weight ,it offer a valuable starting point to evaluate your overall health
      and
      well-being.</p>

    <app-bmi-container></app-bmi-container>
  </section>
</main>

<router-outlet />