<main>
  <section class="background">
    <img src="../assets/logo.svg" alt="Web Site Circle Logo" id="logo" class="mx-auto mb-5">

    <h1 class="text-center">Body Mass Index Calculator</h1>
    <p class="my-10 text-center description">Better understand your weight in relation to your height using
      our
      body mass index (BM)
      calculator. While BMI is
      not the sole determinant of a healthy weight ,it offer a valuable starting point to evaluate your overall health
      and
      well-being.</p>

    <div class="grid grid-cols-2 gap-4 bg-white rounded-2xl p-4 shadow-container">
      <h3 class="col-span-2">Enter your details below</h3>
      <div class="radio-container">
        <input type="radio" (change)="ChangeMetric()" id="metric" name="metric-imperial-group" checked>
        <label for="metric" class="text-regular font-bold">Metric</label>
      </div>

      <div class="radio-container">
        <input type="radio" (change)="ChangeMetric()" id="imperial" name="metric-imperial-group">
        <label for="imperial" class="text-regular font-bold">Imperial</label>
      </div>

      <label for="height" class="text-small col-span-2 text-dark-electric-blue">Height</label>
      <div [hidden]="!metric" class="input-container height-metric col-span-2">
        <input type="number" name="height" id="height" placeholder="0" (input)="SetHeight($event)">
      </div>
      <div [hidden]="metric" class="input-container height-imperial-ft">
        <input type="number" name="ft" id="ft" placeholder="0" (input)="SetHeightFt($event)">
      </div>
      <div [hidden]="metric" class="input-container height-imperial-in">
        <input type="number" name="in" id="in" placeholder="0" (input)="SetHeightIn($event)">
      </div>

      <label for="weight" class="text-small col-span-2 text-dark-electric-blue">Weight</label>
      <div [hidden]="!metric" class="input-container weight-metric col-span-2">
        <input type="number" name="weight" id="weight" placeholder="0" (input)="SetWeight($event)">
      </div>
      <div [hidden]="metric" class="input-container weight-imperial-st">
        <input type="number" name="st" id="st" placeholder="0" (input)="SetWeightSt($event)">
      </div>
      <div [hidden]="metric" class="input-container weight-imperial-lbs">
        <input type="number" name="lbs" id="lbs" placeholder="0" (input)="SetWeightLbs($event)">
      </div>

      <div class="show-bmi">
        <div class="grid">
          <h4 [hidden]="bmiValue!=0">Welcome!</h4>
          <p [hidden]="bmiValue!=0" class="text-small mt-4">Enter your height and weight and you will see your BMI
            result
            here
          </p>
          <p [hidden]="bmiValue==0" class="mb-3 text-regular">Your BMI is...</p>
          <h3 [hidden]="bmiValue==0">{{bmiValue.toFixed(1)}}</h3>
          <p [hidden]="bmiValue==0" class="text-white text-small">{{bmiDescription}} <span
              class="text-white font-bold text-regular">{{bmiRange}}</span>.</p>
        </div>

      </div>
    </div>
  </section>


  <section class="p-0 py-5">
    <img src="../assets/image-man-eating.webp" alt="man eating sushi">
    <article class="p-5">
      <h2 class="font-semibold">What your BMI result means</h2>
      <p class="mt-5 description">{{bmiFullDescription}}</p>
    </article>
  </section>

  <app-bmi-recommendation></app-bmi-recommendation>

  <section class="text-center">
    <h2>Limitations of BMI</h2>
    <p class="my-8 description">Although BMI is often a practical indicator of healthy weight, it is not suited for every person.
      Specific groups
      should carefully consider their BMI outcomes, and in certain cases, the measurement may not be beneficial to use.
    </p>
    <app-bmi-limitation></app-bmi-limitation>
  </section>
</main>

<router-outlet />