<main class="p-10">
  <section>
    <div class="max-w-[540px] mx-auto text-center">
      <h2 class="title">Reliable, efficient delivery</h2>
      <h1 class="title font-bold mb-5">Powered by Technology</h1>
      <p class="description">Our Artificial Intelligence powered tools use millions of project data points
        to
        ensure that
        your project is successful</p>
    </div>

    <div class="max-w-[1000px] mx-auto mt-10 grid gap-10 md:grid-cols-3 md:grid-rows-4 ">
      <app-card title="Supervisor" color="#44D3D2" description="Monitors activity to identify project roadblocks"
        img="../../assets/icon-supervisor.svg" class="md:row-start-2 md:row-span-2"></app-card>

      <app-card title="Team Builder" color="#EA5454"
        description="Scans our talent network to create the optimal team for your project"
        img="../../assets/icon-team-builder.svg" class="md:col-start-2 md:row-span-2"></app-card>

      <app-card title="Karma" color="#FCAE4A" description="Regularly evaluates our talent to ensure quality"
        img="../../assets/icon-karma.svg" class="md:row-start-3 md:col-start-2 md:row-span-2"></app-card>

      <app-card title="Calculator" color="#549EF2"
        description="Uses data from past projects to provide better delivery estimates"
        img="../../assets/icon-calculator.svg" class="md:col-start-3 md:row-start-2 md:row-span-2"></app-card>

    </div>
  </section>
</main>